body {
    margin: 0;
    padding: 70px 0 0;
}
.navbar-default .navbar-brand {
    color: #e60000;
    text-shadow: none;
    transition: color 1s ease;
}
.navbar-default .navbar-brand:hover {
    color: #fd0;
}
.navbar > .container-fluid .navbar-brand-logo {
    line-height: 44px;
    padding: 3px 15px;
}
.navbar > .container-fluid .navbar-brand-title {
    margin-left: -10px;
}
