.navbar.navbar-fixed-top {
    background: #a9cce3;
}
.navbar-default .navbar-brand {
    color: #fff;
    text-shadow: none;
    transition: color 1s ease;
}
.navbar-default .navbar-brand:hover {
    color: #fd0;
}
.navbar > .container-fluid .navbar-brand-logo {
    line-height: 44px;
    padding: 3px 15px;
}
.navbar > .container-fluid .navbar-brand-title {
    margin-left: 0;
}
.header-locales.navbar-right {
    float: right;
    margin: 7px -5px;
}
@media all and (min-width: 768px) {
    .header-locales.navbar-right {
        margin: 15px;
    }
}
.header-locale {
    float: left;
}
.header-locale-item {
    background-position: center center;
    background-repeat: no-repeat;
    display: block !important;
    float: left;
    height: 20px;
    overflow: hidden;
    padding: 5px !important;
    text-indent: 200%;
    white-space: nowrap;
    width: 26px;
}
span.header-locale-item {
    opacity: 0.6;
}
.header-locale-en {
    background-image: url('../img/flags/en.png');
}
.header-locale-pl {
    background-image: url('../img/flags/pl.png');
}
