#AddHandler application/x-httpd-php55 php

DirectoryIndex app.php

<IfModule mod_rewrite.c>
    RewriteEngine On

    # loop stopping code
    RewriteCond         %{ENV:REDIRECT_STATUS}      200
    RewriteRule         .*                          - [L]

    # require without the www
    RewriteCond         %{HTTP_HOST}                ^www\.(.*) [NC]
    RewriteRule         ^(.*)$                      //%1/$1 [L,NC,R=301]

    # cache-friendly file names: /static/yymmddnn/file.ext
    RewriteCond         %{REQUEST_FILENAME}         !-f
    RewriteCond         %{REQUEST_FILENAME}         !-d
    RewriteCond         %{THE_REQUEST}              ^(GET|HEAD)\ (.*)/static/[0-9]{8}/(.*)\ HTTP/ [NC]
    RewriteRule         .+                          /%3 [L,NC]

    # redirect to our front web controller
    RewriteCond         %{REQUEST_FILENAME}         !-f
    RewriteCond         %{HTTP_HOST}                \.dev [NC]
    RewriteRule         ^(.*)$                      app_dev.php [L,QSA]

    RewriteCond         %{REQUEST_FILENAME}         !-f
    RewriteRule         ^(.*)$                      app.php [L,QSA]
</IfModule>

<IfModule !mod_rewrite.c>
    <IfModule mod_alias.c>
        RedirectMatch 302 ^/$ /app.php/
    </IfModule>
</IfModule>
