/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/nbproject/
/vendor/
/public_html/bundles/
/public_html/css/x-*.css
/public_html/js/x-*.js
