{% extends 'AppBundle::layout.html.twig' %}

{% set pageTitle = 'pilgrims.form.title'|trans %}

{% block body %}
    <h1>{{ 'pilgrims.form.title'|trans }}</h1>
    {{ form_start(form) }}
    {{ form_end(form) }}
{% endblock %}
