{{ 'email.troop.reminder_text'|trans({}, null, locale)|raw }}
<p>
    <a href="{{ confirmationUrl }}" target="_blank">{{ 'email.link'|trans({}, null, locale) }}</a>
</p>
{{ 'email.volunteers.footer'|trans({}, null, locale)|raw }}
