@media all and (min-width: 768px) {
    .navbar-fixed-top .navbar-right {
        margin-right: 0;
    }
}

dl.list > * {
    padding: 3px 0;
}
dl.list > dd {
    padding-left: 20px;
}
dl.list ul {
    margin: 0;
    padding: 0 0 0 15px;
}
dl.list ul li {
    margin: 0;
    padding: 0;
}

#search-form {
    background: #f9f9f9;
    padding: 11px 0 15px;
}
.search-form-cell {
    padding-top: 4px;
}
.search-form-submit {
    padding-top: 10px;
    text-align: right;
}

.show-header {
    overflow: hidden;
}
.show-header h1,
.show-header .btn {
    float: left;
}
.show-header .btn {
    margin: 30px 20px 0;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
.modal .waiting {
    -webkit-animation: rotate 1s infinite linear;
    animation: rotate 2s infinite linear;
    color: #ccc;
    font-size: 50px;
    height: 60px;
    line-height: 50px;
    margin: 60px auto;
    text-align: center;
    width: 60px;
}
.modal .waiting .glyphicon {
    top: 5px;
}
