{{ 'email.volunteer.registration_text'|trans({'%apostrophe%': ('email.scout_apostrophe.' ~ sex)|trans})|raw }}
<p>
    <a href="{{ confirmationUrl }}" target="_blank">{{ 'email.link'|trans }}</a>
</p>
{{ 'email.volunteers.footer'|trans|raw }}
