body {
    margin: 70px 0 0;
}

.registration-form .form-control {
    display: inline-block;
}
.registration-form .form-info .form-control {
    width: calc(100% - 35px);
}
.registration-form .form-info .info {
    background: lightblue;
    border-radius: 10px;
    cursor: help;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin: 0 5px;
    text-align: center;
    width: 20px;
}
.registration-form .form-info .info:before {
    content: '?';
}
.registration-form dd > div {
    display: inline-block;
}
.registration-form .form-checkbox {
    overflow: hidden;
}
.registration-form .form-checkbox input {
    float: left;
    height: 20px;
    margin: 0;
    width: 20px;
}
.registration-form .form-checkbox label {
    float: left;
    margin-left: 5px;
    width: calc(100% - 25px);
}
